/***** CLPL CUSTOM STYLESHEET *****/

#clpl_logo_container{
    height:auto; 
    width:auto;
}
#clpl_logo_container img {
    width:150px; 
    height:auto;  
    margin:15px 0;
}
p.clpl_description{
    font-style: italic;
}
