/***** CLPL CUSTOM STYLESHEET *****/

.clpl-admin-wrapper {
    position: relative;
    overflow: visible;
}
.clpl-admin-wrapper .wp-picker-holder {
    z-index: 100000;
}
.clpl-admin-wrapper .wp-picker-holder .ui-slider .ui-slider-handle {
    top: auto !important;
}
#clpl_logo_container, #clpl_bg_img_container{
    height:auto; 
    width:auto;
}
#clpl_logo_container img, #clpl_bg_img_container img {
    width:150px; 
    height:auto;  
    margin:15px 0;
}
p.clpl_description{
    font-style: italic;
}
